/* body{
    color:white;
    }

span{
    margin-left: 50px;
    background-color: black;
    }
/* también con justify-content: space-...;align-items: 

.c1:hover{
    color:blueviolet;
}*/

body {
    margin: 0px;

}

.Menu-Superior {

    background-color: black;
    display: flex;
    justify-content: space-evenly;

    align-items: center;


}

& a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-bottom-style: solid;
    text-align: center;
    border-color: black;
    transition: 0.5s;
    width: 100%;


}

& a:hover {
    color: yellow;
    border-bottom-style: solid;
    border-color: yellow;


}