body {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color:brown;
    background-color:rgb(128, 203, 228); 
    line-height: 1.5;
    font-weight: bolder;
}

.titulo {font-size: 47px;
}

/* otra manera de cambiar el tamaño de los h1 y h2 es:
&h1,h2{
        font-size: 14px;
    } */
