 body {
     font-family: 'Roboto Slab', serif;
     font-weight: 400;
     margin: 0;
     scroll-behavior: smooth;
     scroll-snap-type: y mandatory;
     color: #e0c48c;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
     /* fin del body */
 }


 .pantalla1 {
     /* nombre, carrera, descripción y foto */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     /* Rellena toda la pantalla */
     height: 100vh;
     /* Imagen de fondo */
     background-color: #8B7851;
     background-image: url(Imágenes/Background/imagen_2026-02-08_092223893-Photoroom.png);
     background-repeat: no-repeat, no-repeat, no-repeat;
     background-position-x: center;
     background-size: 100vh;

     .soy-maria {
         display: flex;
         flex-direction: column;
         align-content: center;
         justify-content: center;
         padding-inline: 5%;
         border: #a36d02;
     }

     .mi-foto {
         position: relative;
         width: 150px;


         #yo {
             display: block;
             width: 100%;
             /* background-image: url(C:\0_MasterGIS\19_Intro_HTML5_CSS_JavaScript\Meer_MV\HTML_CSS\CV\Imágenes\Background\marco-hojas-cuadrado.png);
             background-repeat: no-repeat, no-repeat, no-repeat;
             background-position-x: center;
             background-size: 100vh; */
             border-image-slice: 67 123 147 52;
             border-image-width: 20px 20px 20px 20px;
             border-image-outset: 0px 0px 0px 0px;
             border-image-repeat: stretch stretch;
             border-image-source: url(Imágenes/Background/marco-hojas-cuadrado.png);
             border-style: solid;

         }

         /* 
         #yo-marco {
             position: absolute;
             top: 0;
             left: 0;
             width: 155px;
             height: 155px;
             pointer-events: none ;
         } */


         /* intento de meter la foto en el marco, un poco fallido, volveremos  */

     }
 }

 /* Poner el formato de los subtítulos de las partes igual */
 .subtitulo {
     text-align: center;

 }


 .pantalla2 {
     height: 100vh;
     background-color: #8C8051;
     display: flex;
     flex-direction: column;

     .datos-personales {
         display: flex;
         flex-direction: column;

         .subcaja-dp {
             display: flex;
             flex-direction: row;
             justify-content: center;
             align-items: center;

             width: 100vw;

             box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
             -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
             -moz-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.75);
             /* al final le metemos el box shadow de la pagina web y ahora le metemos borde redondeado */
             border-radius: 7px;

             padding: 30px;
             margin-bottom: 20px;
         }

         .dp {
             width: 100vw;

             #telefono {
                 justify-content: flex-start;
             }

             #mail {}

             #linkedin {
                 justify-content: end;
                 align-items: end;
                 text-decoration: none;
             }
         }
     }


 }

 .pantalla3-herramientas {
     height: 100vh;
     background-color: #8C7051;

 }

 .pantalla4-experiencia {
     display: flex;
     flex-direction: row;
     height: 100vh;
     background-color: #8C6651;

     #experiencia,
     #formacion {
         display: flex;
         flex-direction: column;
         padding: 5%;

         #foto-veolia {
             aspect-ratio: 16 / 9;
             object-fit: cover;
         }

         #foto-su {
             aspect-ratio: 1 / 1;
             object-fit: cover;
         }

         #foto-uam {
             aspect-ratio: 2 / 1;
             object-fit: cover;
         }


     }
 }




 .pantalla5 {
     height: 100vh;
     background-color: #8C7051;

 }


 /* -------------------------------------- */
 /*   TABLET (≤1279px y ≥760px)            */
 /* -------------------------------------- */

 @media (max-width: 1279px) {
     .pantalla2 {
         grid-template-columns: repeat(2, 1fr);
         /* 2 columnas */
         padding: 30px;
     }

     #titulo2 {
         grid-column: 1 / 3;
         /* ocupa 2 columnas */
         font-size: 2rem;
     }

     .bloque {
         font-size: 1rem;
         padding: 20px;
     }
 }

 /* -------------------------------------- */
 /*   MÓVIL (≤759px)                       */
 /* -------------------------------------- */

 @media (max-width: 759px) {
     .pantalla2 {
         grid-template-columns: 1fr;
         /* 1 columna */
         padding: 20px;
     }

     #titulo2 {
         grid-column: 1 / 2;
         font-size: 1.6rem;
     }

     .bloque {
         font-size: 0.95rem;
         padding: 15px;
     }
 }