body{
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    
    & .imagen {
        size: 20px;
    }

    & .centroSalud{
        text-decoration: none;
        & .botones{
            color: blueviolet;
            vertical-align: middle;
        }
    }
    & .comentarios{
        display: flex;
        flex-direction: row;
        color:grey;
        & .punt{
                    }

        }
    }
