    /* con el comentario se que etoy programando en CSS */
    /* para seleccionar varios párrafos te vale con seleccionar */
p {
background-color:rgb(236, 226, 40);
}
/* El ID va a prevalecer sobre el orden de la cascada, luego la clase y luego la etiqueta */
#parrafo2 { 
color:rgb(181, 42, 184)
}

div {
   background-color:aqua;
   & p {
    background-color:rgb(70, 70, 210)
   }
}

/* div > p{
    background-color:blue
} */

body{
    background-color: green;
}

/* Ejercicio que al hacer hover sobre los párrafos 1 y 3 cambie el color del fondo */
/* PASOS: creas en los párrafos la clase (class="class1") y después aquí la llamas
con .class1 y metes :hover{ así sacas la "herramienta" hover */
.class1:hover{
    background-color:orange
}
/* Para ello he */